.game-list-item {
  list-style: none;
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 5px;
  background-color: #fff;
  cursor: pointer;
  position: relative;
}

.game-list-item.active {
  cursor: default;
}

.game-list-item:hover {
  transition: ease 0.2s all;
  transform: scale(1.01);
}

.game-list-item.active:hover {
  transform: none;
}

.game-list-item.active:hover {
  transform: none;
}

.game-list-item > h2 {
  margin: 5px 0 10px 0;
}

.label {
  border-radius: 5px;
  color: #fff;
  padding: 2px 5px;
  margin-right: 5px;
  background-color: #00d1b2;
}

.label-waiting {
  background-color: #23d160;
}

.label-active {
  background-color: #ff3860;
}

.label-players {
  background-color: #209cee;
}

.arrow {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-40%);
  width: 15px;
}
