.game-list-item {
  list-style: none;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  background-color: #fff;
}

.game-list-item:hover {
  background-color: #666;
}

.game-list-item > h3 {
  margin: 5px 0;
}
