h1 {
  text-align: center;
  margin-bottom: 10px;
}

.login h2 {
  text-align: center;
  margin-bottom: 10px;
}

.login-form {
  text-align: center;
}

.login-form input {
  border-radius: 20px;
  border: none;
  border: 1px solid rgb(255, 255, 255, 0.5);
  padding: 5px 10px;
}

.login-form input:focus {
  border: 1px solid rgb(5, 117, 230, 0.7);
  outline: 0 none;
}

@media (max-width: 805px) {
  .login {
    max-width: 75%;
    max-height: 75%;
  }
}
  @media (max-width: 602px) {
    .login {
      max-width: 50%;
      max-height: 50%;
    }
}
