.new-game-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
}

.new-game-modal-main {
  position: fixed;
  width: 25%;
  background-color: #fff;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

.new-game-modal-main .form-title {
  display: block;
  margin: 15px 0 5px 0;
  font-weight: bold;
}

.new-game-modal-main input[type='text'] {
  display: block;
  width: 200px;
  margin: 0 auto;
}

.new-game-modal-main input {
  border-radius: 20px;
  border: none;
  border: 1px solid rgba(141, 141, 141, 0.5);
  padding: 5px 10px;
}

.new-game-modal-main input:focus {
  border: 1px solid rgb(5, 117, 230, 0.7);
  outline: 0 none;
}

.error-message {
  color: rgb(243, 0, 0);
}

.close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 15px;
  height: 20px;
  opacity: 0.3;
}

.close:hover {
  opacity: 1;
}

.close:before,
.close:after {
  position: absolute;
  left: 5px;
  content: ' ';
  height: 20px;
  width: 3px;
  background-color: #333;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}
